@model _1st_Class__Calculator_.Models.Kalkulator
@{
    ViewData["Title"] = "KalkulatorForm";
}

<p>Wynik:</p>
<p>@ViewBag.Wynik</p>

<div>
    <a asp-area="" asp-controller="Home" asp-action="Kalkulator">Powrót</a>
</div>