@model _3rd_Class.Models.Zadanie

@{
    ViewData["Title"] = "WynikZadanie";
}

<h1>WynikZadanie</h1>

<div>
    <p>Rejestracja zakonczna pomyslnie</p>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
